{% load static %}
<section class="footer">
    <div class="container-xl">
        <p class="looking">
            Follow us on our Social media!
        </p>
        <div class="home_icons">
            <a href="https://www.linkedin.com/in/luis-hidalgo-arrieta/" target="_blank"> <img class="linked_in" src="{% static 'images/facebook.png' %}"></a>
            <a href="https://instagram.com/whittierpups?igshid=YmMyMTA2M2Y=" target="_blank"><img class="github" src="{% static 'images/instagram.png' %}"></a>
        </div>
        <div class="copyright">
            <p>
                Copyright © Whittier Pups 2023.<br>
                Icons courtesy of FlatIcon.
            </p>
        </div>
    </div>
    
</section>